.chatContainer{
    display: flex;
    height: 95vh;
}

.side{
    width: 35%;
    border-right: 1px solid lightgrey;
}

.mainChat{
    width: 70%;
}

@media (max-width:770px){
    .side{
        display: none;
    }
    .mainChat{
        width: 100%;
    }
}
