.profile{
    background-color: #f0f2f5;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 2%;
}

.profile img,.friendImg img{
    border-radius: 50%;
    height: 50px;
    width: 50px; 
    object-fit: cover;
}

.search{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #f0f2f5;
}

.search input{
    color: #818f98;
    background-color: #f0f2f5;
    height: 70%;
    width: 90%;
    border: 0;
    margin: 0.44% auto;
    padding: 0 1%;
}

.searchFriend{
    background-color: #00a884;
    width: 80%;
    margin: 0 auto;
}

.friendCard{
    height: 60px;
    display: flex;
    border-bottom: 1px solid #f0f2f5;
    padding: 0.5% 2%;
    align-items: center;
    cursor: pointer;
}

.friendCard:hover{
    background-color: #f5f6f6;
}


.name{
    font-size: 1.5rem;
    margin-left: 2%;
    font-weight: bold;
}

.logout{
    margin-left: auto;
}

.searchCardBtn{
    color: #00a884;
    background-color: white;
    border-radius: 1rem;
    padding: 0.8%;
    text-align: center;
    margin-left: auto;
    border: 0;
    font-size: 1.2rem;
}

.avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px; 
    margin-right: 2%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cards{
    height: calc(90vh - 60px);
    max-height: calc(89vh - 60px);
    overflow-y: scroll;
}

.cards::-webkit-scrollbar
{
	width: 10px;

}

.cards::-webkit-scrollbar-thumb
{
	background-color: #c4c3bf;

}

@media screen and (max-width:1000px) {
    .profile .name{
        font-size: 1rem;
    }
}
